<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212906666067-8ckei96t5gnggqt0u2354eb3eikmdh4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212906666067-8ckei96t5gnggqt0u2354eb3eikmdh4p</string>
	<key>API_KEY</key>
	<string>AIzaSyAJY2R296Z62cglgKaOZ4PMzhouFV5Stw4</string>
	<key>GCM_SENDER_ID</key>
	<string>212906666067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectJordan</string>
	<key>PROJECT_ID</key>
	<string>project-jordan-543dd</string>
	<key>STORAGE_BUCKET</key>
	<string>project-jordan-543dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212906666067:ios:66e5ce8cea90d55020fea6</string>
</dict>
</plist>